[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appnope = "*"
args = "*"
astroid = "*"
backoff = "*"
backports-csv = "*"
"beautifulsoup4" = "*"
certifi = "*"
chardet = "*"
clint = "*"
colorama = "*"
configparser = "*"
decorator = "*"
docopt = "*"
docutils = "*"
elasticsearch = "*"
future = "*"
gluish = "*"
gspread = "*"
idna = "*"
internetarchive = "*"
ipython-genutils = "*"
isodate = "*"
isort = "*"
jdcal = "*"
jedi = "*"
jsonpatch = "*"
jsonpath-rw = "*"
jsonpointer = "*"
lazy-object-proxy = "*"
lockfile = "*"
logilab-common = "*"
lxml = "*"
luigi = "*"
marcx = "*"
mccabe = "*"
nose = "*"
numpy = "*"
pandas = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
ply = "*"
prettytable = "*"
protobuf = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pygments = "*"
pyisbn = "*"
pylint = "*"
pymarc = "*"
pymysql = "*"
pyparsing = "*"
python-daemon = "*"
python-dateutil = "*"
pytz = "*"
rdflib = "*"
schema = "*"
requests = "*"
simplegeneric = "*"
simplejson = "*"
six = "*"
snakebite = "*"
sqlalchemy = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
ujson = "*"
"urllib3" = "*"
verchew = "*"
wcwidth = "*"
wrapt = "*"
xlrd = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3"
