To whom it may concern,

This is an automated mail sent by siskin {version}. We looked at the following
files on {hostname}:

- {xref}
- {amsl}

and compared the collection identifiers.

The following {count} crossref collection names have been not been found in AMSL:

{clist}


